doctype html
html
    head
        style
            include style.css
    body
        div
            h1 Hello #{userName}
        div
            block content
        div.footer
            a(href=news) Check our new offers
            p All rights reserved.